<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppImelsa.My.MySettings.ConexionSQL" connectionString="Data Source=cemicsa.cucaxhq0asdg.us-east-2.rds.amazonaws.com;Initial Catalog=BDImelsa;User ID=admin;Password=root12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>