<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net46" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3501" targetFramework="net46" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3501" targetFramework="net46" />
</packages>